.tarjetaPremio{
	&Imagen{
        box-shadow: -19px 9px 44px 1px $color-secundario;
        -webkit-box-shadow: -19px 9px 44px 1px $color-secundario;
        -moz-box-shadow: -19px 9px 44px 1px $color-secundario;

	
    }

}